<form id="shipping-method">
  <fieldset>
    <legend class="clip">Shipping Method</legend>

    <div class="shipping-container">
      <input name="shipping" id="regular" type="radio" value="regular" checked>
      <label for="regular">Regular - $5.99</label>
    </div>

    <div class="shipping-container">
      <input name="shipping" id="two-day" type="radio" value="two-day">
      <label for="two-day">Two Day - $12.95</label>
    </div>

    <div class="shipping-container">
    <input name="shipping" id="one-day" type="radio" value="one-day">
    <label for="one-day">One Day - $26.95</label>
    </div>
  </fieldset>

  <button class="checkout-button"  type="submit">Continue</button>
    
</form>