<form id="shipping-address">
  <fieldset>
    <legend>Shipping</legend>

    <label for="first-name">First name *</label>
      <input name="first-name" id="first-name" type="first-name" required>
    <label for="last-name">Last name *</label>
      <input name="last-name" id="last-name" type="last-name" required>
    <label for="address-1">Address Line 1 *</label>
      <input name="address-1" id="address-1" type="address-1" required>
    <label for="address-2">Address Line 2 *</label>
      <input name="address-2" id="address-2" type="address-2" required>
    <label for="address-1">Address Line 1 *</label>
      <input name="address-1" id="address-1" type="address-1" required>
  </fieldset>
</form>