body {
    font: 400 100%/1.5 Helvetica, Arial, sans-serif;
    padding: 1rem;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-weight: bold;
    font-size: 1.4rem;
}

.clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}